html{
scroll-behavior: smooth;

}


body{
	
background-image: url(z.jpg);
background-size: cover;
background-attachment: fixed;
	background-position: center;}
header{min-height: 100%;color: blue;
	text-align: center;
font-family: : cursive;}
	a{min-height: 40px;
	padding-left: 30px;
color: black;
font-family: cursive;
}
h2{min-height: 50px;
	text-align: center;
font-family:cursive;
color: green;
}
h4{
min-height: 50px; text-align: center;
color: purple; }
h3{min-height: 100px;
text-align: center;
color: purple;
font-family: sans-serif;
}
img{min-height: 50px;
	padding: 10px;}
th,tr,td{
border:  solid orange;
padding-left: 120px;
}
ul{color: blue;
text-align: center;
font-family: cursive;
}
input[type=Number]{min-height: 50px;
width: 90%;
padding-left: 12px;
border: solid orange;
margin-bottom: 16px;
resize: vertical;
}
input[type=text],textarea{min-height: 50px;
width: 90%;
padding-left: 12px;
border: solid orange;
margin-bottom: 16px;
resize: vertical;
}
input[type=submit]{min-height: 50px;
width: 90%;
padding-left: 12px;
border: solid orange;
margin-bottom: 25px;
resize: vertical;
color: blue
}
footer{
@viewport {
zoom:1.0;
width: extend-to-zoom
}
@-ms-viewport{
	width:  extend-to-zoom;
	zoom:1.0;
}
.gotopbtn{
position: fixed;
width: 100px;
height: 100px;
bottom:100px;
right: 100px;
text-decoration: none;
line-height: 100px;
font size: 100px;
}
